.home {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: f8f8f8(183 76% 11%);
  }
  .story-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .story {
    background-color: #a0a390;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(8, 5, 5, 0.1);
  }
  
  .story-title {
    font-size: 1.5em;
    color: #000000;
    font-weight: bold;
  }

  
  .story-description {
    font-size: 1em;
    color: #000000;
  }
  
  .read-more-btn {
    background-color: #576959;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .read-more-btn:hover {
    background-color: #9b4db3;
  }
  

.author {
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  font-style: italic;
  color: #333;
}

.icon {
  margin-left: 8px;
  font-size: 1.2em;
}

